/* Root styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Set up background color for body */
body {
    background-color: #d9dcd6;
}

/* font size */
p {
    font-size: 16px;
}

/* header & footer's font */
.header,
.footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* styling of header*/
.header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* font family setting */
.header div,
.benefits,
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* styling of nav bar */
.nav {
    list-style-type: none;
}

.nav li {
    display: inline-block;
    margin-left: 25px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
}

/* nav bar hover effect */
.nav a:hover{
    color: #acaaaa;
}

/* banner */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://i.imgur.com/vYxNevz.jpg");
    background-size: cover;
    background-position: center;
}

/* content image positioning left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* content image positioning right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* content container */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* aside content */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* aside content styling */
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* aside content title */
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* aside content images */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* content section articles */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

/* content section images */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/* content section title */
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* footer section */
.footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
